<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
		
			<div class="user-projects">
			  
			<div class="images-right">
				<img alt="优秀指导教师" src="/assets/images/tutor.JPG">
			</div>
				
				<div class="contents">
				<h3> 第十六届研电赛西北赛区 </h3>
				<ul>
				  <li> 优秀指导教师</li>
				</ul>
				<p>祝贺孙学宏老师在第十六届中国研究生电子设计竞赛西北分赛区选拔赛中，带领多支队伍杀入决赛，最终获得一等奖一名，二等奖一名，三等奖三名的好成绩，荣获“优秀指导教师奖”.</p>
				</div>
				
				
				
			</div>
		
			<div class="user-projects">
			  <hr>
			</div>
			
			<div class="user-projects">
			  <div class="images-left">
				<img alt="一等奖达成" src="/assets/images/jiao.JPG"/>
			  </div>
			  <div class="contents-right">
				<h3> 第十六届研电赛西北赛区 </h3>
				<ul>
				  <li> 一等奖达成</li>
				</ul>
				<p>祝贺焦济雨、吕佳枫、方亮三位同学，在第十六届中国研究生电子设计竞赛西北分赛区选拔赛中，凭借作品：“远望”智能侦扰系统，杀入决赛，最终获得十六届研电赛西北赛区“一等奖”的好成绩.</p>
				</div>
			</div>
		</div>
	</div>
</section>
