---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
	<style>
		div.img {
			border: 1px solid #ccc;
		}

		div.img:hover {
			border: 1px solid #777;
		}

		div.img img {
			width: 100%;
			height: auto;
		}

		div.desc {
			padding: 15px;
			text-align: center;
		}

		* {
			box-sizing: border-box;
		}

		.responsive {
			padding: 0 6px;
			float: left;
			width: 24.99999%;
		}

		@media only screen and (max-width: 700px){
			.responsive {
				width: 49.99999%;
				margin: 6px 0;
			}
		}

		@media only screen and (max-width: 500px){
			.responsive {
				width: 100%;
			}
		}

		.clearfix:after {
			content: "";
			display: table;
			clear: both;
		}
		</style>
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
			
				
					<p class="subtitle is-uppercase has-text-weight-medium has-text-grey">16届毕业生</p>
				
                
				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/16届李强.jpg">
					  <img src="/assets/images/16届李强.jpg" alt="16届李强" width="432" height="626">
					</a>
					<div class="desc">李强</div>
				  </div>
				</div>


				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/16届李欣雪.jpg">
					  <img src="/assets/images/16届李欣雪.jpg" alt="16届李欣雪" width="432" height="626">
					</a>
					<div class="desc">李欣雪</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/16届宋立志.jpg">
					  <img src="/assets/images/16届宋立志.jpg" alt="16届宋立志" width="432" height="626">
					</a>
					<div class="desc">宋立志</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/16届杨晓丽.jpg">
					  <img src="/assets/images/16届杨晓丽.jpg" alt="16届杨晓丽" width="432" height="626">
					</a>
					<div class="desc">杨晓丽</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/16届于向明.jpg">
					  <img src="/assets/images/16届于向明.jpg" alt="16届于向明" width="432" height="626">
					</a>
					<div class="desc">于向明</div>
				  </div>
				</div>

				<div class="clearfix"></div>
				<hr>				
				
					<p class="subtitle is-uppercase has-text-weight-medium has-text-grey">17届毕业生</p>
				
				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/17届杜宇.jpg">
					  <img src="/assets/images/17届杜宇.jpg" alt="17届杜宇" width="432" height="626">
					</a>
					<div class="desc">杜宇</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/17届范玉堂.png">
					  <img src="/assets/images/17届范玉堂.png" alt="17届范玉堂" width="432" height="626">
					</a>
					<div class="desc">范玉堂</div>
				  </div>
				</div>
				
				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/17届范玉堂.png">
					  <img src="/assets/images/17届范玉堂.png" alt="17届范玉堂" width="432" height="626">
					</a>
					<div class="desc">范玉堂</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/17届冯紫芬.jpg">
					  <img src="/assets/images/17届冯紫芬.jpg" alt="17届冯紫芬" width="432" height="626">
					</a>
					<div class="desc">冯紫芬</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/17届余增增.jpg">
					  <img src="/assets/images/17届余增增.jpg" alt="17届余增增" width="432" height="626">
					</a>
					<div class="desc">余增增</div>
				  </div>
				</div>

				<div class="clearfix"></div>
				<hr>	
				
				<p class="subtitle is-uppercase has-text-weight-medium has-text-grey">18届毕业生</p>
				

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/18届牛月太.jpg">
					  <img src="/assets/images/18届牛月太.jpg" alt="18届牛月太" width="432" height="626">
					</a>
					<div class="desc">牛月太</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/18届宋培源.jpg">
					  <img src="/assets/images/18届宋培源.jpg" alt="18届宋培源" width="432" height="626">
					</a>
					<div class="desc">宋培源</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/18届孙牧歌.jpg">
					  <img src="/assets/images/18届孙牧歌.jpg" alt="18届孙牧歌" width="432" height="626">
					</a>
					<div class="desc">孙牧歌</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/18届王越.jpg">
					  <img src="/assets/images/18届王越.jpg" alt="18届王越" width="432" height="626">
					</a>
					<div class="desc">王越</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/18届席国法.jpg">
					  <img src="/assets/images/18届席国法.jpg" alt="18届席国法" width="432" height="626">
					</a>
					<div class="desc">席国法</div>
				  </div>
				</div>

				<div class="clearfix"></div>
				<hr>
				
					<p class="subtitle is-uppercase has-text-weight-medium has-text-grey">19届毕业生</p>
				
				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/19届常伟.jpg">
					  <img src="/assets/images/19届常伟.jpg" alt="19届常伟" width="432" height="626">
					</a>
					<div class="desc">常伟</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/19届兰聪.jpg">
					  <img src="/assets/images/19届兰聪.jpg" alt="19届兰聪" width="432" height="626">
					</a>
					<div class="desc">兰聪</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/19届苏虹.jpg">
					  <img src="/assets/images/19届苏虹.jpg" alt="19届苏虹" width="432" height="626">
					</a>
					<div class="desc">苏虹</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/19届杨静宇.jpg">
					  <img src="/assets/images/19届杨静宇.jpg" alt="19届杨静宇" width="432" height="626">
					</a>
					<div class="desc">杨静宇</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/19届赵譞.jpg">
					  <img src="/assets/images/19届赵譞.jpg" alt="19届赵譞" width="432" height="626">
					</a>
					<div class="desc">赵譞</div>
				  </div>
				</div>

				<div class="clearfix"></div>
				<hr>
				
					<p class="subtitle is-uppercase has-text-weight-medium has-text-grey">20届毕业生</p>
				
				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/20届淡博雅.jpg">
					  <img src="/assets/images/20届淡博雅.jpg" alt="20届淡博雅" width="432" height="626">
					</a>
					<div class="desc">淡博雅</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/20届姜文斌.jpg">
					  <img src="/assets/images/20届姜文斌.jpg" alt="20届姜文斌" width="432" height="626">
					</a>
					<div class="desc">姜文斌</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/20届李雅楠.jpg">
					  <img src="/assets/images/20届李雅楠.jpg" alt="20届李雅楠" width="432" height="626">
					</a>
					<div class="desc">李雅楠</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/20届禹璇.jpg">
					  <img src="/assets/images/20届禹璇.jpg" alt="20届禹璇" width="432" height="626">
					</a>
					<div class="desc">禹璇</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/20届张泽慧.jpg">
					  <img src="/assets/images/20届张泽慧.jpg" alt="20届张泽慧" width="432" height="626">
					</a>
					<div class="desc">张泽慧</div>
				  </div>
				</div>

				<div class="clearfix"></div>
				<hr>
				
					<p class="subtitle is-uppercase has-text-weight-medium has-text-grey">21届毕业生</p>
				
				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/21届洪亮.jpg">
					  <img src="/assets/images/21届洪亮.jpg" alt="21届洪亮" width="432" height="626">
					</a>
					<div class="desc">洪亮</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/21届黎爱闽.jpg">
					  <img src="/assets/images/21届黎爱闽.jpg" alt="21届黎爱闽" width="432" height="626">
					</a>
					<div class="desc">黎爱闽</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/21届李博渊.jpg">
					  <img src="/assets/images/21届李博渊.jpg" alt="21届李博渊" width="432" height="626">
					</a>
					<div class="desc">李博渊</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/21届李向秀.jpg">
					  <img src="/assets/images/21届李向秀.jpg" alt="21届李向秀" width="432" height="626">
					</a>
					<div class="desc">李向秀</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/21届刘宇博.jpg">
					  <img src="/assets/images/21届刘宇博.jpg" alt="21届刘宇博" width="432" height="626">
					</a>
					<div class="desc">刘宇博</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/21届卢娟.jpg">
					  <img src="/assets/images/21届卢娟.jpg" alt="21届卢娟" width="432" height="626">
					</a>
					<div class="desc">卢娟</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/21届邵剑峰.jpg">
					  <img src="/assets/images/21届邵剑峰.jpg" alt="21届邵剑峰" width="432" height="626">
					</a>
					<div class="desc">邵剑峰</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/21届王苗.jpg">
					  <img src="/assets/images/21届王苗.jpg" alt="21届王苗" width="432" height="626">
					</a>
					<div class="desc">王苗</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/21届薛嘉南.jpg">
					  <img src="/assets/images/21届薛嘉南.jpg" alt="21届薛嘉南" width="432" height="626">
					</a>
					<div class="desc">薛嘉南</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/21届杨娅坤.png">
					  <img src="/assets/images/21届杨娅坤.png" alt="21届杨娅坤" width="432" height="626">
					</a>
					<div class="desc">杨娅坤</div>
				  </div>
				</div>

				<div class="clearfix"></div>
				<hr>
				
					<p class="subtitle is-uppercase has-text-weight-medium has-text-grey">在读研究生</p>
				
				<!--<h2 style="text-align:center">在读研究生</h2>-->
				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届房虹辰.jpg">
					  <img src="/assets/images/22届房虹辰.jpg" alt="22届房虹辰" width="432" height="626">
					</a>
					<div class="desc">房虹辰</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届焦济雨.jpg">
					  <img src="/assets/images/22届焦济雨.jpg" alt="22届焦济雨" width="432" height="626">
					</a>
					<div class="desc">焦济雨</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届李冰涛.bmp">
					  <img src="/assets/images/22届李冰涛.bmp" alt="22届李冰涛" width="432" height="626">
					</a>
					<div class="desc">李冰涛</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届李锦鹏.jpg">
					  <img src="/assets/images/22届李锦鹏.jpg" alt="22届李锦鹏" width="432" height="626">
					</a>
					<div class="desc">李锦鹏</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届李强.jpg">
					  <img src="/assets/images/22届李强.jpg" alt="22届李强" width="432" height="626">
					</a>
					<div class="desc">李强</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届吕佳枫.jpg">
					  <img src="/assets/images/22届吕佳枫.jpg" alt="22届吕佳枫" width="432" height="626">
					</a>
					<div class="desc">吕佳枫</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届王煜.JPG">
					  <img src="/assets/images/22届王煜.JPG" alt="22届王煜" width="432" height="626">
					</a>
					<div class="desc">王煜</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届杨浩龙.jpg">
					  <img src="/assets/images/22届杨浩龙.jpg" alt="22届杨浩龙" width="432" height="626">
					</a>
					<div class="desc">杨浩龙</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届袁一杰.jpg">
					  <img src="/assets/images/22届袁一杰.jpg" alt="22届袁一杰" width="432" height="626">
					</a>
					<div class="desc">袁一杰</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届张彦鹏.jpg">
					  <img src="/assets/images/22届张彦鹏.jpg" alt="22届张彦鹏" width="432" height="626">
					</a>
					<div class="desc">张彦鹏</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届赵灵芝.jpg">
					  <img src="/assets/images/22届赵灵芝.jpg" alt="22届赵灵芝" width="432" height="626">
					</a>
					<div class="desc">赵灵芝</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/22届赵鸣宇.jpg">
					  <img src="/assets/images/22届赵鸣宇.jpg" alt="22届赵鸣宇" width="432" height="626">
					</a>
					<div class="desc">赵鸣宇</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/23届方亮.jpg">
					  <img src="/assets/images/23届方亮.jpg" alt="23届方亮" width="432" height="626">
					</a>
					<div class="desc">方亮</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/23届王艳妮.jpg">
					  <img src="/assets/images/23届王艳妮.jpg" alt="23届王艳妮" width="432" height="626">
					</a>
					<div class="desc">王艳妮</div>
				  </div>
				</div>

				<div class="responsive">
				  <div class="img">
					<a target="_blank" href="/assets/images/23届尹江杰.jpg">
					  <img src="/assets/images/23届尹江杰.jpg" alt="23届尹江杰" width="432" height="626">
					</a>
					<div class="desc">尹江杰</div>
				  </div>
				</div>
							
			</div>
		</div>
	</section>


    <!--Footer-->
    {% include footer.html %}
</body>

</html>